<footer class="container-fluid g-0 w-100 shadow">
  <div class="row w-100 text-center">
    <div class="col-md-6 col-12 footer-note"><span>Tüm Hakları Saklıdır. @ 2022 AS Ödeme Hizmetleri ve Elektronik Para A.Ş.</span>
    </div>
    <div class="col-md-6 col-12">
      <div class="row">
        <div class="col-3">Kullanım Sözleşmesi</div>
        <div class="col-3">Güvenlik Bildirgesi</div>
        <div class="col-3">Bilgi Güvenliği</div>
        <div class="col-3">KVKK</div>
      </div>
    </div>
  </div>
</footer>
