<aside class="shadow">
  <mat-list class="mt-5" role="menu">
    <mat-divider></mat-divider>
    <mat-list-item class="my-2" role="menuitem">
      <button class="w-100 btn btn-outline-danger" routerLink="/campaigns">Kampanyalar</button>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item class="my-2" role="menuitem">
      <button class="w-100 btn btn-outline-danger" routerLink="/new-campaign">Yeni Kampanya</button>
    </mat-list-item>
    <mat-divider></mat-divider>
  </mat-list>
</aside>
